<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/homepage.css">
</head>
<body>
<div class="page">
    <nav id="header">
    </nav>
    <main id="content">
        <p>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/H%26M-Logo.svg/640px-H%26M-Logo.svg.png" height="100px;"><br>
  
<form action="/loginpage" method="get" class="login">
    <button type="submit" value="login">Login</button>
</form>
</p>
    </main>
</div>

<script src="../static/js/homepage.js"></script>
</body>
</html>