<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link rel="stylesheet" href="../static/css/mypage.css">
    <script src="../static/js/mypage.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>
    <div class="page">
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link rel="stylesheet" href="../static/css/mypage.css">
    <script src="../static/js/mypage.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="page">
        <nav id="header">
            <div class="logout">
                <form action="/logout" method="get" style="display: inline;">
                    <button type="submit"class="material-icons">logout</button>
                </form>
            </div>
            <!-- Add other navigation items as needed -->
        </nav>
        <main id="content">
            <p>
                <br><br>
        <form action="/userhome" method="get" style="text-align:center;">
            <label for="hm_submit">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/H%26M-Logo.svg/640px-H%26M-Logo.svg.png" height="70px">
                <input id="hm_submit" type="submit" value="H&M" style="display: none;">
            </label>
        </form>
        <div class="section-title">
        <div class="separator"></div>

        <h1>My page</h1>
        <h3 id="username">{{username}}</h3>

            </div>"
          <div id="filters" class="portfolio-filters">
            <ul class="list-inline">
                <form action="/buylist" method="get">
                    <button type="submit" value="ORDER LIST">ORDER LIST</button>
                        </form></li>
                      <li>
                        <form action="/ai" method="get" id="sendApi">
                            <button type="submit" value="AI RECOMMEND">AI SEARCH</button>
                                
                        </form>
                        </li>
                      <li><a href="#" data-filter=".branding" class="nonactive" button="/homepage"><h20>MEMBERSHIP</h20></a></li>
                      <li><a href="#" data-filter=".branding" class="nonactive"><h20>CUSTOMER SERVICE</h20></a></li>
                    </ul>
          </div>
          <script src="/static/js/index.js"></script>
</body>
</html>